/* Start Override Of Articels */

.articles {
    padding:0;
}
.articles h2 {
    text-align: right;
    border-right:5px solid var(--main-color);
    padding-right:10px;
    margin:40px 20px 40px 0;
    font-size:40px;
}

.articles .boxes {
    background-image:url('../imgs/articles.jpg');
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
    z-index: -1;
}

.articles .boxes .box {
    z-index: 99;
    background-color:#fff;
}


.articles .boxes .pages {
    font-size:30px;
    margin:0 0 60px;
}

.articles .boxes .pages li{cursor:pointer;}
.articles .boxes .pages li a {
    margin-top:20px;
    width:40px;
    font-size:25px;
    margin:auto;
    box-shadow:none;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -ms-border-radius:0;
    -o-border-radius:0;
    
}

.portfolio .simples li.active a {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

/* End Override Of Articels */