/* Start Override On Articles */
.navbar {
    margin-bottom:0; 
}
.articles {
    padding:0;
}

.articles .boxes {
    background-image:url('../imgs/bg30-Ar1web.GIF');
    padding: 40px 0;
}

.articles .boxes h2 {
    text-align: right;
    border-right:5px solid var(--main-color);
    margin:0 20px 40px 0;
    font-size:40px;
    padding:10px 20px;
}

.articles .boxes .box {
    background-color:#fff;
    margin:0 60px;
}

.articles .boxes .box img {
    height:250px;
    margin:auto;
    border:1px solid #ccc;
    box-shadow:1px 1px 5px 2px #CCC;
    border-radius:10px;;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    margin-top:30px ;
    margin-bottom:30px ; 
}
.articles .boxes .box p {
    padding:0 20px;
    line-height:1.8;
}


/* End Override On Articles */

/* Start Media Queries */

@media (max-width: 767px) {
    .articles .boxes h2 {
         font-size: 22px !important
    }
    .articles .boxes .box{
        padding:0 0!important;
        margin: 0;
    }
    .articles .boxes .box img {
        margin-top: 0;

    }
}

/* End Media Queries */