/* Start Global Rules  */
:root {
    --main-color:#00a8ff;
    --sub-color:#222;
    --btn-color:#2c3e50;
}

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    font-family:'Cairo', sans-serif;
    overflow:hidden;
}

body {
    direction:rtl;
    
}

ul, ol {
    list-style:none;
    padding:0;
    margin:0;
}

.hidden {
    display:none;
}

.main-btn {
    display:block;
    background-color:var(--btn-color);
    color:#fff !important;
    padding:5px 15px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    
}
.main-btn:hover {
    text-decoration:none;
    
}

.heading-line:after {
    content: "";
    position: absolute;
    top: 57px;
    left: calc(50% - 35px);
    width: 70px;
    height: 3px;
    background-color: var(--main-color);
}

.h2-style {
    text-align: right;
    margin-right:20px;
    border-right:5px solid var(--main-color);
    padding-right:10px;
    margin-top:0;
}

.card-hidden {
    visibility:hidden;
}

/* End Global Rules  */

/* Start Navbar Section */

.navbar .nav-menu {
    overflow:hidden;
}

.navbar .nav-menu i {
    float: left;
    padding:25px 20px;
    color:var(--main-color);
    cursor:pointer;
}

.navbar .nav-menu .nav-img {
    float:right;
    width:200px;
    height:80px;
    margin-right:20px;
}

.navbar .nav-content {
    padding:20px;
    border-bottom:1px solid #CCC;
    direction:ltr;
    display:none;
}

.navbar .nav-content li:hover a {
    margin-bottom:8px;
}

.navbar .nav-content li.active a {
    color:#000 !important;
}

.navbar .nav-content li a {
    font-size:20px;
}

.navbar .nav-content li a:hover {
    text-decoration:none;

}


/* End Navbar Section */

/* Start Header Section */

header {
    padding:40px 0;
    background:url("../imgs/header-side.jpg") no-repeat;
}

header .header-content h1 {
    font-size:50px;
    padding-top:60px;
    word-spacing:3px
}

/* End Header Section */

/* Start About Section */

.about {
    padding:40px 0;
}
.about h2 {
    font-size:40px;
    margin-bottom:70px;
    position:relative
}

.about p {
    margin-top:40px;
    line-height:1.8
}

.about .about-img {
    margin-left:50px;
}
/* End About Section */

/* Start Feature Section */

.features {
    padding:40px 0;
}
.features h2 {
    font-size:40px;
    position:relative;
    margin-bottom:50px;
}

.features .slider-box {
    margin:30px 0;
    padding:40px 0;
    background:url('../imgs/we-offer.png');

}

.features .slider-box .slider-item {
    background-color:#fff;
    padding:10px;
    margin:0 20px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.features .slider-box .slider-item img {
    width:50%;
    margin:20px auto;
}

.features .slider-box .slider-item span {
    color:#00a8ff;
    font-size:20px;
    display:block;
    margin:20px 0;
}

.features .slider-box .arrows i{
    padding:15px;
    cursor:pointer;
    margin:40px 0;
}

/* End Feature Section */

/* Start Portfolio Section */

.portfolio {
    padding:40px 0;
}

.portfolio h2 {
    font-size:40px;
    margin-bottom:50px;
    position:relative;
}

.portfolio .simples {
    background-image:url('../imgs/bg30-Ar1web.gif');  
    padding:50px 0;
}

.portfolio .simples .simples-card {
    margin:40px 0 30px ;
    background-color:#fff;
    border-radius:30px;
    overflow:hidden;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    box-shadow:1px 1px 5px 1px #999
}

.portfolio .simples .simples-card img {
    width:100%;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    max-height:281px;
}

.portfolio .simples .simples-card .website {
    padding: 16px 0;
    display: block;
    font-size: 20px;
    color:#555;
    cursor:pointer;
}

.portfolio .simples .simples-card .website:hover {
    text-decoration:none
}

.portfolio .simples .main-btn {
    margin-top:20px;
    width:290px;
    font-size:22px;
    margin:auto;
    box-shadow:1px 1px 5px 2px #999;
}




/* End Portfolio Section */

/* Start Articles Section */

.articles {
    padding:40px 0;
}

.articles .box {
    padding:20px;
    border:1px solid #ccc;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    box-shadow:-1px 1px 5px 1px #999;
    margin:30px 50px;
}
.articles .box p {
    margin:20px 0 ;
}

.articles .box .card-details {
    overflow:hidden;
}
.articles .box .card-details a {
    float:right;
}

.articles .box .card-details .views {
    float:left;
    padding:10px 0 0;
}

.articles .main-btn {
    width:200px;
    margin:auto;
    padding:10px 20px;
    font-size:20px;
    box-shadow:1px 1px 5px 2px #CCC;
}

/* End Articles Section */

/* Start Our Clients Section */

.clients {
    padding:40px 0 0;
}
.clients h2 {
    font-size:40px;
    text-align:center;
    position:relative;
    margin-bottom:50px;
}

.clients .carusal-box {
    margin:30px 0 0;
    padding:40px 0 0;
    background:url('../imgs/our-client-bg.jpg');
    background-size:cover

}

.clients .carusal-box .carusal-item {
    padding:10px;
    margin:0 20px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.clients .carusal-box .carusal-item img {
    width:50%;
    margin:20px auto;
}

.clients .carusal-box .carusal-item span {
    color:#00a8ff;
    font-size:20px;
    display:block;
    margin:20px 0;
}

.clients .carusal-box .arrows i{
    padding:15px;
    cursor:pointer;
    margin:0 auto 80px;
    text-align:center;
}

/* End Our Clients Section */

/* Start Footer Section */

footer {
    background:url("../imgs/footer.jpg");
    background-size:cover;
    color:#fff !important;
    padding:50px 0;
}
footer .foot-logo {
    padding:50px 0;
}

footer .foot-logo .foot-desc {
    overflow: hidden;
}

footer .foot-logo .foot-desc img {
    float: right;
    width:80px;
    height:80px;
    margin-left:5px
}

footer .foot-logo .foot-desc h3 {
    padding:0;
    margin-bottom: 0;
}

footer .foot-logo p {
    font-size:27px;
    margin:30px 0
}

footer .foot-logo .social-icons i {
    margin-left:20px;
    font-size:38px;
    cursor:pointer;
    transition:all .5s ease-in-out;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -ms-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
}
footer .foot-logo .social-icons i.fa-facebook:hover {
    color:#3b5998;
}
footer .foot-logo .social-icons i.fa-twitter:hover {
    color:#1da1f2;
}
footer .foot-logo .social-icons i.fa-github:hover {
    color:#c9510c;
}
footer .foot-logo .social-icons i.fa-whatsapp:hover {
    color:#25d366;
}

footer .foot-img {
    width:250px;
    padding:20px
}
/* End Footer Section */



/**************   Start Media Quires ****************/

/* Mobile Screen */



@media (max-width:767px) {
    /* Start Navbar Section */
    
    .navbar .nav-menu .nav-img {
        max-width:150px;
        max-height:60px;
    }
    
    
    /* End Navbar Section */

    /* Start Header Section */

    header {
        padding:20px 0;
        background:url("../imgs/header-side.jpg") no-repeat;
    }

    header .header-content h1 {
        font-size:40px;
        text-align: center;
        padding-top:40px;
        margin-bottom:50px;
        line-height:1.8
    }

    /* End Header Section */

    /* Start Portfolio Section */


    .portfolio .simples .simples-card {
        max-width:350px;
        margin:0 auto 30px;
    }

    /* End Portfolio Section */

    /* Start Articles Section */

    .articles {
        padding:40px 0;
    }
    
    .articles .box {
        padding:20px;
        border:1px solid #ccc;
        border-radius:20px;
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        -ms-border-radius:20px;
        -o-border-radius:20px;
        box-shadow:-1px 1px 5px 1px #999;
        margin:30px 50px;
    }
    .articles .box p {
        margin:20px 0 ;
    }
    
    .articles .box .card-details {
        overflow:hidden;
    }
    .articles .box .card-details a {
        float:right;
    }
    
    .articles .box .card-details .views {
        float:left;
        padding:10px 0 0;
    }
    
    .articles .main-btn {
        width:140px;
        margin:auto;
        padding:10px 20px;
        font-size:14px;
        box-shadow:1px 1px 5px 2px #CCC;
    }
    

    /* End Articles Section */
}



/* Start Small Screen */
/*
@media (min-width:768px) and (max-width:991px) {
    /* Start Header Section */
/*
    header .header-content  {
        width:100%;
        margin-bottom:30px
    }

    header .header-content h1 {
        font-size:60px;
        text-align: center;
        padding-top:40px;
        margin-bottom:50px;
        line-height:1.8
    }

    header .header-img img{
        width: 100%;
        margin:auto;
    } 

    /* End Header Section */

    /* Start Portfolio Section */
/*

    .portfolio .simples .simples-card {
        max-width:400px;
        margin:0 auto 30px;
    }

    /* End Portfolio Section */

    /* Start Articles Section */




    /* End Articles Section */
}





/**************   End Media Quires ****************/

